/*设置第一行header的样式*/

/*将所有元素的内外边距清零*/
*{padding:0;margin:0}

/*清楚清除外边距溢出*/
#header div.header{
    content:"";
    display:table;
}
/*设置里面的元素居中对齐*/
#header div.header_1{
    width:70%;
    margin:0 auto;
}

/*设置header_logo左浮动*/
#header div.header_logo,#header ul.header_ul>li,#header input.header_input,#header a.header_a,#header div.header_login{
    float:left;
}

/*设置所元素垂直居中显示*/
#header div.header_1{
    line-height: 80px;

}

/*设置img_logo的宽高*/
#header img.img_logo{
    width:40px;height:40px;
    vertical-align:middle;
    margin-right: 10px;
    border-radius:50%;
}
/*设置#header div.header_logo的右外边距*/
#header div.header_logo{
    margin-right:25px;
}

/*设置网易云logo后面几个字的样式*/
#header span.font_logo{
    font:bold 25px "宋体";
    color:#fff;
}

/*设置ul去点*/
#header ul.header_ul{
    list-style:none;
}

/*#设置每个列表项的左右边距header ul.header_ul>li*/
/*设置所有的li左浮动*/
#header ul.header_ul>li{
    padding-left:20px;
    padding-right:20px;
    float:left;
}

/*设置所有a标签的样式*/
#header a{
    text-decoration:none;
    color:rgb(255,255,255);
    opacity:0.7;
}
/*#设置每个列表项悬停的时候背景颜色,li>a的透明度也变成了1*/
#header ul.header_ul>li:hover{
    background:#000;

}
#header ul.header_ul>li>a:hover{
    opacity:1;
}


/*设置#header input.header_input的样式*/
#header input.header_input{
    width:200px;
    height:40px;
   margin:  20px 60px;
    border-radius:20px;

}

/*设置a标签--创作者中心的样式*/
#header a.header_a{
    color:#fff;
    line-height:40px;
    margin-top:20px;
    padding:0 8px;
    border:1px solid #fff;
    border-radius:20%;
    opacity:0.5;
}
/*设置a标签--创作者中心悬停的时候的样式*/
#header a.header_a:hover{
    opacity:1;
}

/*设置登录a标签的样式*/
#header div.header_login{
    width:100px;
    margin-left:20px;
    position: relative;    /*给下三角形当父级定位*/
}

/*设置登录下三角形的位置*/
#header div.header_login>span{
    margin-left:20px;
    position: absolute;  /*给下三角形微调位置*/
    top: 35px;
}
/*设置a标签悬停的时候出现下划线*/
#header div.header_login>a:hover{
    text-decoration: underline;
}

/*设置登录旁边的下三角形*/
#header div.header_login>span{
    line-height: 20px;
    width:0px;height:0px;
    border:8px solid transparent;
    border-top-color: #aaa;
}

/*隐藏的下拉登录的样式*/

/*将父级元素的设置定位*/
#header div.header_login{
    position: relative;
}
/*下拉登录的样式--ul*/
#header ul.header_hidden_login{
    display:none;
    position:absolute;
    top:70px;
    left:-30px;
    width:160px;
    height:260px;

}
/*设置登录下拉菜单li的样式*/
#header ul.header_hidden_login>li{
    height:50px;
    width:100%;
    line-height:50px;
    padding-left:10px;
    border:1px solid #000;
    background-color:#000;
    list-style-position:inside;        /*设置列表标记在li里面*/
    list-style-image:url(../images/banner/wechat.png);       /*设置列表标记的图片----这里统一设置成一张*/
}
/*在父元素上悬停的时候，隐藏的下拉列表就显示了*/
#header div.header_login:hover  ul.header_hidden_login{
    display:block;
 }
/*悬停在li上的时候--li的背景变浅了，li>a的颜色变深了*/
#header ul.header_hidden_login>li:hover{
    background:#333;
}
#header ul.header_hidden_login>li:hover #header>li>a{
    color:rgb(0,0,0);
}




















